body {
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,0.8);
    padding: 0 20px;
}

header img {
    width: 250px;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

header .play-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 250px;
}

#cover {
    height: 100vh;
    width: 100%;
    background: url("../img/minecraft-custom-cover.png") no-repeat;
    background-size: cover;
}

#tutorial {
    display: flex;
    align-self: center;
    width: 75vw;
}

footer {
    height: 75px;
    width: 100%;
    background: rgba(0,0,0,0.8);
}